<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    
    <h1>Edit EVENT</h1>
    <form action="/events/<%= event._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="events[title]" value="<%= event.title %>">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="events[description]" id="description" required><%= event.description %></textarea>
        </div>
        <div>
            <label for="issue_date">ISSUE DATE</label>
            <input type="date" id="issue_date" name="events[issue_date]" value="<%= event.issue_date %>">
        </div>
        <div>
            <label for="expiry_date">EXPIRY DATE</label>
            <input type="date" id="expiry_date" name="events[expiry_date]" value="<%= event.expiry_date %>">
        </div>
        <button>Update Event</button>
    </form>
    <div>
        <a href="/events/<%= event._id %>">GO BACK</a>
    </div>

    <form action="/events/<%= event._id %>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>

</body>
</html>