<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">                
                <div class="card-body">
                    <h5 class="card-title"><%= event.title%></h5>
                    <p class="card-text"><%= event.description%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= event.issue_date%></li>
                </ul>
                <%  if(currentUser.user_role==="Admin" || currentUser.user_role==="Manager") { %>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/events/<%=event._id%>/edit">Edit</a>
                    <form class="d-inline" action="/events/<%=event._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <%  } %>
                <div>
                    <a class="btn btn-success m-3" href="/events">ALL EVENTS</a>
                </div>
        </div>  
        </div>
    </div>