<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                
                <div class="card-body">
                    <h5 class="card-title"><%= notice.title%></h5>
                    <p class="card-text"><%= notice.description%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= notice.issue_date%></li>
            
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/notices/<%=notice._id%>/edit">Edit</a>
                    <form class="d-inline" action="/notices/<%=notice._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                
                <div>
                    <a class="btn btn-success ml-3 mb-3" href="/notices">ALL notice</a>
                </div>
        </div>  
        </div>
    </div>