<% layout('layouts/boilerplate')%>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
          <th scope="col">SNo.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact Number</th> 
        <th scope="col">Verified</th>
      </tr>
    </thead>

    <tbody>
        <%let i=1;%>
        <% if( currentUser.user_role=='Manager' ) { %>
        <% for(let admin of admins )  {%>
    
        
      <tr>
        <th scope="row"><%= i++%></th>
        <td scope="col"><a style="text-decoration: none;" href="/admins/<%= admin._id %> "><%= admin.name%></a></td>
        <td scope="col"><a style="text-decoration: none;" href="/admins/<%= admin._id %> "><%= admin.username%></a></td>

        <td scope="col"><a style="text-decoration: none;" href="/admins/<%= admin._id %> "><%= admin.contact_number%></a></td> 
        <td scope="col"><a style="text-decoration: none;" href="/admins/<%= admin._id %> "><%= admin.verified%></a></td>
      </tr>
    
      <%} } %>
  
    </tbody>
  </table>
  
  