<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-8">
            <div class="card mb-3">                
                <div class="card-body">
                    <h5 class="card-title"><%= admin.name%></h5>
                  
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Contact Number: <%= admin.contact_number%></li>
                    <li class="list-group-item text-muted">Email: <%= admin.username%></li>
                </ul>
                <div>
                    <% if(currentUser.user_role==='Manager' && admin.verified === false){ %>
                    <a class="btn btn-success mt-3 ml-3 mb-3" href="/admins/<%=admin._id%>/verify">Verify</a>
                    <%}%>
                </div> 

                <div>
                    <%if(currentUser.user_role==='Manager') { %>
                    <a class="btn btn-success mt-3 ml-3 mb-3" href="/admins">All admins</a>
                    <%}%>
                    <% if(currentUser.user_role==='Admin' && admin.username===currentUser.username){ %>
                    <a class="btn btn-success mt-3 ml-3 mb-3" href="/admins/<%=admin._id%>/edit">Edit</a>
                    <%}%>
                </div> 
        </div>  
    </div>
</div>