<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Edit Job</h1>
        <div class="col-6 offset-3">
            <form action="/jobs/<%=job._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="jobs[title]"
                        value="<%=job.title %>" required>                    
                </div>
                <div>
                    <label  class="form-label" for="description">Description</label>
                    <textarea class="form-control"  name="jobs[description]" id="description" required><%= job.description %></textarea>
                </div>
                
                <div>
                    <label class="form-label" for="marks_criteria">Criteria</label>
                    <input class="form-control" type="text" id="marks_criteria" name="jobs[marks_criteria]" value="<%= job.marks_criteria %>">
                </div>
                <div class="mb-3">
                    <button class="btn btn-info mt-3">UPDATE</button>
                </div>
            </form>
                <form class="d-inline" action="/jobs/<%= job._id %>">
                <button class="btn btn-info mb-2">GO BACK</button>
                </form>
            <form class="d-inline" action="/jobs/<%= job._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger mb-2">DELETE</button>
            </form>
        </div>