<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOB</title>
</head>
<body>
    <h1><%= job.title %> </h1>
    <ul>
        <li>DESCRIPTION : <%= job.description %> </li>
        <li>MARKS CRITERIA : <%= job.marks_criteria %> </li>
    </ul>
    <div>
        <a href="/jobs/<%= job._id %>/edit">EDIT</a>
    </div>
    <hr>
    <div>
        <a href="/jobs">ALL JOBS</a>
    </div>
    <form action="/jobs/<%=job._id%>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>
</body>
</html>